# Coding Tutorial - Class 1

### Introduction to Python

###### 1. Syntax and Variables
    1.1 Objects
    1.2 Indentation


###### 2. Data Types
    2.1 Integers
    2.2 Booleans
    2.3 Floats
    2.4 Strings

###### 3. Operators
    3.1 Arithmetic
    3.2 Membership
    3.3 Identity
    3.4 Logical
    3.5 Comparison

###### 4. Data Structures
    4.1 Lists
    4.2 Dictionaries
    4.3 Sets

###### 5. Control Flow
    5.1 Iteration 
    5.2 Conditional iteration

###### 6. Comprehensions
    6.1 List comprehension
    6.2 Dictionary comprehension

###### 7 Inbuilt Functions
    7.1 Zipping
    7.2 Enumeration
    7.3 Length
    7.4 Range

###### 8 Functions
    8.1 Defining functions
    8.2 Namespaces
    8.3 Parameters and Arguments

## 1 Syntax and Variables

##### 1.1 Variables

In [ ]:
# Python is completely object oriented, and not "statically typed".
# You do not need to declare variables before using them, or declare
# their type. Every variable in Python is an object.

# Python has no command for declaring a variable. 
# A variable is created the moment you first assign a value to it.

# A variable can have a short name (like x and y) or a more descriptive name
# (age, carname, total_volume).

# Rules for Python variables:
# - A variable name must start with a letter or the underscore character.
# - A variable name cannot start with a number.
# - A variable name can only contain alpha-numeric characters and underscores (A-z, 0-9, and _ ).
# - Variable names are case-sensitive (age, Age and AGE are three different variables).

In [ ]:
1a = 2

In [ ]:
a a = 2

In [ ]:
a = 2
a2 = 2
a = 3

assert a == 3    # ''=='' tests equivalence

In [ ]:
# What happens here? 
a, b = 1, 2

##### 1.2 Syntax

In [ ]:
# Python uses new lines to complete a command, 
# as opposed to other programming languages which often use semicolons or parentheses.

# Python relies on indentation, using whitespace, to define scope; such as the scope of loops, functions and classes. 
# Other programming languages often use curly-brackets for this purpose.

In [ ]:
# newline
a = 2
b = 2

In [ ]:
# indentation
for i in range(10):
    print(i)

## 2 Data Types
     2.1 Integers
     2.2 Booleans
     2.3 Floats
     2.4 Strings

#####  2.1 Integers

In [1]:
# Integers (int) are whole numbers, positive or negative.
# Created by writing a number without a .
a = 42
b = 0
c = -15343

True

In [31]:
# We can check the type of object we are working woth using the built-in type() function
type(a) == int

False

#####  2.2 Booleans

In [ ]:
# Booleans are True/False values.
a = True
b = False

In [ ]:
# What happens here?
True + True

In [2]:
# What about here?
False / False

ZeroDivisionError: division by zero

##### 2.3 Floats

In [2]:
# Floats are the representation of real numbers. Integers with a dot .

a = 2.2 
b = 0.5
c = -155.3

type(a) == float

True

In [ ]:
# What happens here?
float(1)

In [ ]:
# What about here?
int(1.0)

##### 2.4 Strings

In [ ]:
# Strings (str) are a sequence of characters.

In [4]:
# Created by writing a sequence of letters between single or double quotes.
first_word = "Hello"
second_word = 'World'
first_punct = "!"

In [ ]:
first_word == 'Hello'

In [ ]:
print(first_word)

In [ ]:
first_word == 'Hello '

In [5]:
# Strings can be concatenated by the '+' operator
print(first_word + second_word + first_punct)

HelloWorld!

In [6]:
print(first_word + " " + second_word + first_punct)

Hello World!

In [7]:
# Using f-string concatenation
print(f"{first_word} {second_word}{first_punct}")

Hello World!

In [8]:
# Strings (like other data structures) can be indexed using square brackets []. 
# This is possible since a string is an 'iterable' which is defined as an object which are capbable of 
# returning it members one at a time, permitting it to be iterated over.

# NB: Zero-indexing!!!!!!!!!!!

a = "Mette Frederiksen"

print(a + " is the prime minister in Denmark")
print(a[0] + " is the first character of the string")
print(a[1] + " is the second character of the string")

Mette Frederiksen is the prime minister in Denmark
M is the first character of the string
e is the second character of the string

In [12]:
a = "Mette Frederiksen"
a.__iter__

In [13]:
a = 1.0
a.__iter__

AttributeError: 'float' object has no attribute '__iter__'

In [18]:
# That an object is iterable also means that it has a length attribute
a = "Mette Frederiksen"
len(a)

17

In [19]:
# Whereas non-iterables do not
a = 1.0
len(a)

TypeError: object of type 'float' has no len()

In [20]:
# Indexing also introduces slices. 
# Use the : to return a range of values.
# The range [m:n] returns from the (m+1)th letter to the nth letter.
a = "Mette Frederiksen"
print(a[0:2] + " is the first two letters of the word")

Me is the first two letters of the word

In [21]:
print(a[1:3] + " is the second and third letter of the word")

et is the second and third letter of the word

In [22]:
# What is returned here?
a[0:6] + a[6]

'Mette F'

In [23]:
# We can also use negative indexing. 
# [-1] returns the last element of a sequence; in this case, the last character in a word.
print(a[-1])

n

In [24]:
print(a[-3:])

sen

In [29]:
# The syntax of slicing is start:stop:step.

# Lets break this down: start=0:stop=10:step=2
a[:10:2]

'MteFe'

## 3 Operators

    3.1 Arithmetic
    3.2 Membership
    3.3 Identity
    3.4 Logical
    3.5 Comparison

##### 3.1 Arithmetic

In [32]:
# Addition
5 + 3, 'a' + 'b'

(8, 'ab')

In [34]:
# Subtraction.
5 - 3

2

In [35]:
# Multiplication
5 * 3

15

In [ ]:
# Division (note it always returns a float)
1/1

In [ ]:
# Exponentiation
2 ** 3

##### 3.2 Membership

In [ ]:
# Membership operators are used to test if a sequence is presented in an object.
party_list = ["Venstre", "Socialdemokratiet"]

# Two types: 'in' and 'not in'
# Results in a boolean value

In [ ]:
"Venstre" in party_list

In [ ]:
"Enhedslisten" in party_list

In [ ]:
"Enhedslisten" not in party_list

##### 3.3 Identity

In [ ]:
# Identity operators are used to compare the objects, not if they are equal, but if they are actually
# the same object, with the same memory location.

In [36]:
first_party_list = ["Venstre", "Socialdemokratiet"]
second_party_list = ["Venstre", "Socialdemokratiet"]
third_party_list = first_party_list

In [37]:
# What does this yield? True or false?
first_party_list is third_party_list

True

In [40]:
# What about this?
first_party_list is second_party_list

False

In [39]:
# What about this then?
first_party_list == second_party_list

True

In [ ]:
# The == operator COMPARES the value or equality of two objects
# whereas the Python is operator checks whether two variables
# point to the same object in memory

##### 3.4 Logical

In [ ]:
# Logical operators are used to combine conditional statements.
 
first_number = 5
second_number = 10

In [ ]:
# And logical: returns True if both statements are true.
first_number > 0 and second_number < 20

In [ ]:
# Or logical: returns True if one of the statements are true.
first_number > 5 or second_number < 20

In [ ]:
# Not logical
first_number != second_number

##### 3.5 Comparison

In [41]:
# Comparison operators are used to compare two values.

# Equality
a = 5
a == 5

True

In [ ]:
# Not equal.
a != 3

In [ ]:
# Greater and less tha
a > 3, a < 8

In [ ]:
# Greater/less than or equal to 
a >= 5, a <= 5

## 4. Data Structures
    
    4.1 Lists
    4.2 Dictionaries

##### 4.1 Lists

In [ ]:
# Lists are the arguably the most Pythonic data container you find.
# Many containers out there, but lists are so versatile. 

# Written as a list of comma-separated values (items) between square brackets []. 
# Lists might contain items of different types, but usually the items all have the same type.

In [43]:
# List with integer numbers from 1 to 5
list1 = [1, 2, 3, 4, 5]

In [ ]:
# integer, float and string
list2 = [1, 2.0, '3']

In [ ]:
#[x**2 for x in [1,2,3,4,5]]

In [45]:
# Indexing a list is similar to indexing a string. How come?
list1[0:2], list1[-2:], list1[:3:2]

([1, 2], [4, 5], [1, 3])

In [46]:
# Do you think lists have a length attribute? If so, what will it return?
len(list1)

5

In [47]:
# Add elements to a list. Note the inplace-operation!
list1.append(6)
print(list1)

[1, 2, 3, 4, 5, 6]

In [48]:
# Remove elements from list with:
del list1[-1]   # removes last index

In [49]:
# Alternative way of removing an element
list1.pop(-1)   # removes last index

5

In [50]:
# What is the resulting list1 we have left?
print(list1)

[1, 2, 3, 4]

In [51]:
# Alternative growth of lists through concatenation. 
# What happens here?
list1 + 5

TypeError: can only concatenate list (not "int") to list

In [53]:
# Modify values in a list
list1[0] = 10
print(list1)

[10, 2, 3, 4]

In [54]:
# Alternative way to generate a list
list1 = list(range(6))   
print(list1)

##### 4.2 Dictionaries

In [57]:
# Dictionaries are an unordered mapping of keys to values -- lists are ordered by indices. Dictionaries by keys. 

# Created by writing key:value pairs separated by commas between curly brackets {}

partyleaders = {
    'Mette Frederiksen': 'S',
    'Morten Messerschmidt': 'DF'
    }

In [59]:
# We can not access elements in dictionaries by indices
partyleaders[0]

KeyError: 'Morte'

In [ ]:
# Access value of specific key
partyleaders['Mette Frederiksen']

In [60]:
# Return all keys:
partyleaders.keys()

dict_keys(['Mette Frederiksen', 'Morten Messerschmidt'])

In [61]:
# Return keys as a list
list(partyleaders.keys())

['Mette Frederiksen', 'Morten Messerschmidt']

In [62]:
# Access all values:
partyleaders.values()

dict_values(['S', 'DF'])

In [63]:
# Access both keys and values:
partyleaders.items()

dict_items([('Mette Frederiksen', 'S'), ('Morten Messerschmidt', 'DF')])

In [64]:
# Modify value 
partyleaders['Mette Frederiksen'] = 'DD'

In [65]:
# Add new value to dictionary
partyleaders['Nicolai Wammen'] = 'S'

## 5. Control Flow
    
    5.1 Iteration 
    5.2 Conditional iteration

##### 5.1 Iteration

In [ ]:
# A for-loop is a logical structure composed of two parts: an iterable and an action.
for i in ITERABLE:
    RUN_COMMAND

In [70]:
# Simple Example
for l in list1:
    print(l)

0
1
2
3
4
5

In [ ]:
# Incrementing a counter with the += assignment operator (-= also exists)
counter = 0
for number in range(8):
    counter += number

In [72]:
# Dictionaries are also iterable:
for k, v in partyleaders.items():
    print(f"{k}: {v}")

Mette Frederiksen: RV
Morten Messerschmidt: DF
Nicolai Wammen: S

##### 5.2 Conditional iteration

In [ ]:
# A lot of times, we are only interested in doing something if certain conditions are met.
# We often use the operators we have talked about such as comparisons, identity and membership.

In [76]:
# Conditional on comparison operator
number = -2

if number < 0:
    number = number * -2

print("Absolute value is", number)

Absolute value is 4

In [75]:
number = 2

if number < 0:
    number = number * -2

print("Absolute value is", number)

Absolute value is 2

In [77]:
# This uses the "if" command, which evaluate if the condition is True. 
# We can also specify the "else" command, which evaluate if the condition is False. 
language_to_learn = "Python"

if language_to_learn == "Python":
    print("You are in the right place!")
else:
    print("You might be lost!")

You are in the right place!

In [78]:
# This uses the "if" command, which evaluate if the condition is True. 
# We can also specify the "else" command, which evaluate if the condition is False. 
language_to_learn = "Stata"

if language_to_learn == "Python":
    print("You are in the right place!")
else:
    print("You might be lost!")

You might be lost!

In [79]:
language_to_learn = "R"

if language_to_learn == "Python":
    print("You are in the right place!")
elif language_to_learn == "R":
    print("R is also cool :-)")
elif language_to_learn == "C++":
    print("Very cool, but maybe too technical for our demand.")
else:
    print("You might be lost!")

R is also cool :-)

In [83]:
# You can also skip an iteration with continue or dispurt the loop with break
for i in range(5):
#     if i == 1:
#         continue
#     if i == 4:
#         break
    print(i)

0
1
2
3
4

## 6. Comprehensions
    
    6.1 List comprehension
    6.2 Dictionary comprehension

##### 6.1 List comprehensions

In [85]:
# List comprehensions provide a concise way to create and modify lists. 
# Common applications are to make new lists where each element is 
# the result of some operations applied to each member of another
# sequence or iterable, or to create a subsequence of those elements 
# that satisfy a certain condition.

# A list comprehension consists of brackets containing an expression followed by a for clause,
# then zero or more for or if clauses. The result will be a new list resulting from evaluating
# the expression in the context of the for and if clauses which follow it.

In [ ]:
# Create a list of squares using a for loop: 
squares = []
for number in range(6):
    squares.append(number ** 2)

print(squares)

In [ ]:
# The list comprehension approach looks like this is:
squares = [x ** 2 for x in range(6)]
print(squares)

In [86]:
# For example, this combines the elements of two lists if they are not equal. Very elegant!
combinations_lc = [(x, y) for x in [1, 2, 3] for y in [3, 1, 4] if x != y]
print(combinations_lc)

[(1, 3), (1, 4), (2, 3), (2, 1), (2, 4), (3, 1), (3, 4)]

In [5]:
# Compare this to the for-loop way:
combinations_fl = []
for first_number in [1, 2, 3]:
    for second_number in [3, 1, 4]:
        if first_number != second_number:
            combinations_fl.append((first_number, second_number))
print(combinations_fl)

[(1, 3), (1, 4), (2, 3), (2, 1), (2, 4), (3, 1), (3, 4)]

In [6]:
# Do they use refer to same memory slot?
combinations_fl is combinations_lc

False

In [7]:
# Are the values identical?
combinations_fl == combinations_lc

True

In [ ]:
# A common use method is to flatten as list:
vector = [[1, 2, 3], [4, 5, 6], [7, 8, 9]]
flatten_vector = [num for elem in vector for num in elem]

In [87]:
# We can also add conditionals within a comprehension.
odd_even = ['odd' if i % 2 == 1 else 'even' for i in range(10)]
print(odd_even)

['even', 'odd', 'even', 'odd', 'even', 'odd', 'even', 'odd', 'even', 'odd']

##### 6.2 Dictionary comprehensions

In [ ]:
# Dictionaries can be constructed using comprehensions as well.

In [ ]:
dict_comp = {x: x**2 for x in (2, 4, 6)}
print(dict_comp)

## Built-in Functions
    7.1 Zipping
    7.2 Enumeration
    7.3 Length
    7.4 Range

##### 7.1 Zipping

In [88]:
vector = [[1, 2, 3], [4, 5, 6], [7, 8, 9]]

In [98]:
# Unpacking iterables element-wise
list(zip(*vector))

[(1, 4, 7), (2, 5, 8), (3, 6, 9)]

In [103]:
# Combine lists element-wise
a = ["John", "Charles", "Mike"]
b = ["Jenny", "Christy", "Monica"]

x = list(zip(a, b))

print(x)

[('John', 'Jenny'), ('Charles', 'Christy'), ('Mike', 'Monica')]

In [109]:
type(x[0])

tuple

In [108]:
x[0][0], x[0][1]

('John', 'Jenny')

In [110]:
# Also possible with lists with different types of objects. 
a = [0, 1, 2]
b = ['a', 'b', 'c']
x = list(zip(a, b))
print(x)

[(0, 'a'), (1, 'b'), (2, 'c')]

In [114]:
d = [(0, 'a'), (1, 'b'), (2, 'c')]
list(zip(*d))

[(0, 1, 2), ('a', 'b', 'c')]

###### 7.2 Enumeration

https://www.geeksforgeeks.org/use-enumerate-and-zip-together-in-python/

In [115]:
l_enu = [(i, s) for i, s in enumerate(iterator2)]
print(l_enu)

[(0, 'a'), (1, 'b'), (2, 'c')]

In [116]:
# Create a list of names
names = ['sravan', 'bobby', 'ojaswi', 'rohith', 'gnanesh']
  
# Create a list of subjects
subjects = ['java', 'python', 'R', 'cpp', 'bigdata']
  
# Create a list of marks
marks = [78, 100, 97, 89, 80]

In [9]:
# Use enumerate() and zip() function # to iterate the lists.
# What is the output of each iteration?
for i, (names, subjects, marks) in enumerate(zip(names, subjects, marks)):
    print(i, names, subjects, marks)

0 sravan java 78
1 bobby python 100
2 ojaswi R 97
3 rohith cpp 89
4 gnanesh bigdata 80

###### 7.3 Length

We have already encountered the `len()` function. This is a valuable built-in method that returns the length of an object if the object is iterable such as as strings, lists, dicts, and so on.

In [10]:
len(speaker_party)

###### 7.4 Range

We have also encountered the `range()` function already. This is useful if we want to generate a sequence of numbers. The syntax is `range(start, stop, step)`. As default, the `start` parameter starts as 0.

In [19]:
range(5), list(range(5))

(range(0, 5), [0, 1, 2, 3, 4])

# 8 Functions
    8.1 Defining functions
    8.2 Namespaces
    8.3 Parameters and Arguments

###### 8.1 Defining Functions

- The command `def` (short for definition) followed by a space tells Python that you are defining a function.

- Functions are named followed by `def`. Good practice to keep function names lower letter. 

- The parameters are specified inside the parentheses `()` of the function name. 

- We use the `:` operator to explicitly say that the definition is done. 

- The following line must be indented. This tells Python that the code belongs to the function.

In [20]:
# Defining a simple function
def add_one(x):
    y = x+1
    return y

###### 8.2 Namespaces

- Python has namespaces for variables.
- There are multiple levels of namespace, but the two relevant to you are local and global.
- Variables defined within a function are created within the local namespace of that function.
- This means that they are only accessible from within the function.
- Variables defined outside a function are created within the global namespace.
- If a function contains a reference to a variable, it will first check to see whether the variable exists in the local namespace, and then the global one.

In [117]:
# Lets clear the environment
%reset -f

In [119]:
# What will print return here?
def f(x):
    y = 5
    return x + y

print(y)

NameError: name 'y' is not defined

In [120]:
# In this case where y is already defined, the function always try to access the local object first. What does it return?
y = 0

def f(x):
    y = 5
    return x + y

print(f(5))

10

In [24]:
# If the function can not find any local object called y, it looks in the global namespace. What is returned here?
y = 2

def f(x):
    return x + y

print(f(5))

7

In [121]:
# Most functions are written explicitly. However, it is also possible to define so-called anonymous functions. 
# These are called lambda functions. In the example below, the f() and lambda functions is identical
def f(x):
    return x+1

lambda_f = lambda x: x+1

# We will see neat uses of lambda functions when we want to iterate over columns or rows in pandas dataframes.

In [122]:
# Another use of lambda is to pass a small function as an argument.
pairs = [(1, 'one'), (2, 'two'), (3, 'three'), (4, 'four')]

# Sort pairs by text key
sorted(pairs, key=lambda pair: pair[1])

[(4, 'four'), (1, 'one'), (3, 'three'), (2, 'two')]

###### 8.3 Parameters and Values

In [36]:
# In the simple function, x is a parameter that the function must be given. 
def add_one(x):
    y = x+1
    return y

In [123]:
add_one()

NameError: name 'add_one' is not defined

In [39]:
# Positional argument
add_one(1)

2

In [38]:
# Keyword argument
add_one(x=1)

2

In [124]:
# In the simple function, x is a parameter that the function must be given. 
def add_one(x, y=None):
    
    if y:
        return x + 1 + y
    else:
        return x + 1

In [125]:
add_one(x=1), add_one(x=1, y=10)

(2, 12)

In [48]:
# If using both positional and keyword arguments, all positional arguments must come before the keywords. 
# This, for instance, returns an error:
add_one(y=10, 1)

SyntaxError: positional argument follows keyword argument (439698205.py, line 3)

In [49]:
# This works. Good practice is to use keyword arguments. If the function is simple, positional arguments are just fine.
add_one(1, y=10)

12

In [58]:
# You can also annotate a function to increase the transparency.
# Not required, only to understand the function better. 
def breakfast(ham: str, eggs: str = 'eggs') -> str:
    """Breakfast creator.

    This function has a positional argument, a keyword argument, and the return value annotated.
    """
    return ham + ' and ' + eggs

In [55]:
# Accessible with __annotations__ attribute
breakfast.__annotations__

{'ham': str, 'eggs': str, 'return': str}